code_climate.html
lib
shared
*_dict.cc
*_dict.hh
*_dict.h
obj
install*
watversion.hh
wathash
watbranch
wattag
waturl
FrDisplay
*.so
*_C.d
footer.html
header.html
ComputeWDMFourier
xroot.hh
*.pcm
html/htmldoc
*watenv*
!atlas_watenv.*
!cascina_watenv.*
!cit_watenv.*
!cnaf_watenv.*
!gatech_watenv.*
!tools/cwb/scripts/cwb_watenv.sh
*.info*
*.swp
.nfs*
tools/cwb/www/index/cedindex*
code_climate.html
garbage
.vscode
todo
